body {
  width: 100%;
  background-color: #F5F7FA;
  color: #494C57;
}

.list-row {
  width: 300px;
  margin: 0 auto;
}

.list-group-item {
  padding-top: 20px;
  padding-bottom: 40px;
  border: 0;
  margin-bottom: 11px;
}

.modal-header {
  border-bottom: 0;
}

.modal-body {
  background-color: #F5F7FA;
  color: #494C57;
}

.modal-footer {
  border-top: 0;
}
